.bar {
    border-left: 4px solid purple;
    border-radius: 5px;
    height: 85vh;
}

.address {
    font-weight: bold;
}

.button-warn {
    background-color: transparent;
    border-color: red;
    color: red;
}